<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ComapnyName" value="RK Empire"/>
		<add key="Address" value="8, Panchavati, Nashik"/>
		<add key="contact" value="797740850"/>
		<add key="email" value="rushikeshk1411@gmail.com"/>
		<add key="whatsaap" value="7977408504"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlCon" connectionString="Data Source=RUSHIKESH;Database=CSDB;User Id=SA;Password=!@#$1234QWer" providerName="System.Data.SqlClient"/>
		<add name="ExcelCon" connectionString="Data Source=D:\C#\ExcelDocs\NScholl.xls;Extended Properties=Excel 8.0;Provider=Microsoft.Ace.Oledb.12.0" providerName="System.Data.Oledb"/>
	</connectionStrings>
</configuration>